{% extends "_base_header.html" %}

{% from "learning_deck_macro.html" import deck_macro %}

{% block title %}Learning Decks{% endblock title %}

{% block header_title %}My Learning Decks{% endblock header_title %}

{% block description %}Choose a deck and start learning.{% endblock description %}

{% block content %}
    <div class="deck-list">
        {% for deck in deck_list %}
            {{ deck_macro(deck, request.user, csrf_input) }}
        {% endfor %}
    </div>
{% endblock content %}

